<a href="https://colab.research.google.com/github/Gaussiandra/allcups_2020_3/blob/master/solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [ ]:
!pip install catboost
from catboost import CatBoostClassifier

In [ ]:
!pip install lightfm
from lightfm import LightFM

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import os
import json
import pickle
import re
import nltk

import lightgbm as lgb

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import AgglomerativeClustering, MiniBatchKMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from tqdm.notebook import tqdm

In [ ]:
tqdm.pandas(tqdm)
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

global_path = '/content/drive/My Drive/ML/Выявление закономерностей на основе данных МФЦ/'
irkutsk_ds_path = global_path + 'data/dataset_irkutsk/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
categorical_features = [
    #'requester',
    'service',  
    'service_title', 
    'receipt_mfc',
    'internal_status', 
    'external_status',
    'sub_department',  
    'creation_mfc', 
    'order_type', 
    'department_id',
    'deleted', 
    'deleter_fk', 
    'custom_service_id', 
    'service_level',
    'mfc',
    'cpgu_user',
    'text_cluster',
    'emb_item_cluster',

    #'nan_added_col',  
    'previous_service_title',
    'previous_text_cluster',    
    'requester_requester_type', 
    'requester_gender',
    'requester_deleted',
    
    #'cpgu_department_id', 
    'cpgu_department_parent', 
    'cpgu_department_code',
    'cpgu_department_calendar',
    'cpgu_department_department_id',
    'cpgu_department_cluster',

    'cpgu_mfc_id',
    'cpgu_mfc_code', 
    'cpgu_mfc_closed', 
    'cpgu_mfc_branch_id',
    'cpgu_mfc_qms_server_id',
    'cpgu_mfc_deperatment_id', 
    'cpgu_mfc_office_type_id',
    'cpgu_mfc_parent_id', 
    'cpgu_mfc_key_mfc', 
    'cpgu_mfc_calendar',
    'cpgu_mfc_damask_office_id',

    'cpgu_user_auto_ping_queue',

    'cpgu_service_level',
    'cpgu_service_is_not_render',
    'cpgu_service_person',
    'cpgu_service_sole',
    'cpgu_service_legal',

    'custom_service_info_person',
    'custom_service_info_sole',
    'custom_service_info_legal',	
    'custom_service_info_group_title',
    'custom_service_info_department',	
    'custom_service_info_level',	
    'custom_service_info_is_not_render',
    'custom_service_info_deleted',	
    #'custom_service_info_frgu_service_id',

    #'user_to_emb_cluster'
]

# Import data

In [ ]:
# Добавить считывание без ошибок и с проставленными типами

csv_tables = {}
for file_name in tqdm(os.listdir(irkutsk_ds_path)[:-6]):
    csv_tables[file_name.replace('.csv', '')] = pd.read_csv(
        irkutsk_ds_path+file_name,
        encoding='cp1251',
        sep=';',
        error_bad_lines=False,
    )

len(csv_tables)

In [ ]:
train_csv = pd.read_csv(irkutsk_ds_path+'train.csv')

train_csv.columns = train_csv.iloc[-1]
train_csv.drop(2713722, inplace=True)
train_csv.columns.name = None

train_csv.requester = train_csv.requester.astype(int)
train_csv.service_title = train_csv.service_title.astype(int)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
def handle_type(column):
    try:
        return column.astype(int)
    except:
        try:
            return column.astype(float)
        except:
            print(column.name)
            return column

In [ ]:
for name, table in tqdm(csv_tables.items()):
    print('!'+name)
    for col in table.columns:
        table[col] = handle_type(table[col])

In [ ]:
test_ids_txt = open(irkutsk_ds_path+'test_ids.txt', 'r').read().split('\n')
test_ids = pd.Series(test_ids_txt[1:-1], name=test_ids_txt[0], dtype=int)
test_ids

/usr/local/lib/python3.6/dist-packages/numpy/core/numeric.py:2327: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

0         83029018
1        123998836
2        184301121
3         54344611
4        184299902
           ...
44439     27213855
44440     64899947
44441     23695212
44442     72707269
44443     38205629
Name: requester, Length: 44444, dtype: int64

In [ ]:
service_title_mapping_json = json.load(open(irkutsk_ds_path+'service_title_mapping.json', 'r'))
service_title_mapping_dict = {}

for item in service_title_mapping_json.items():
    service_title_mapping_dict[item[1]] = item[0]

service_title_mapping_dict[0], len(service_title_mapping_dict)

('_Присвоение (аннулирование) адреса объекту адресации', 1310)

In [ ]:
id_to_desc = pd.DataFrame.from_records(list(service_title_mapping_dict.items())).drop(0, axis=1)
id_to_desc

                                                      1
0     _Присвоение (аннулирование) адреса объекту адр...
1     Принятие документов для принятия решения о под...
2     _Выдача разрешений на ввод объекта в эксплуата...
3     Выдача справок о том, является или не является...
4     _Предоставление сведений, содержащихся в Едино...
...                                                 ...
1305  Прием расчета по начисленным и уплаченным стра...
1306  Услуга по предоставлению по заданным параметра...
1307  _Принятие решения о предоставлении ветеранам т...
1308  Прием заявления физического лица (его законног...
1309                                               none

[1310 rows x 1 columns]

# Preprocessing

#### user/item embeddings

In [ ]:
last_visits_id = train_csv.reset_index().groupby('requester')['index'].last()

In [ ]:
pivot_df = (
    train_csv.drop(last_visits_id.values)
    .reset_index()
    .groupby(['requester', 'service_title'])['index']
    .count()
).reset_index(level=[0, 1])

In [ ]:
pivot_df['index'] = np.log(pivot_df['index']) + 1

In [ ]:
missing_requesters = set(train_csv.requester.values) - set(pivot_df.requester.values)
missing_requesters_df = pd.DataFrame({
    'requester': list(missing_requesters), 
    'service_title': 4,
    'index': 0
})

In [ ]:
pivot_df = pivot_df.append(missing_requesters_df, ignore_index=True)

In [ ]:
pivot_df

         requester  service_title  index
0             1651            116    1.0
1             1651            339    1.0
2             1651           1169    1.0
3             1651           1246    1.0
4             1651           1256    1.0
...            ...            ...    ...
1385828   85983217              4    0.0
1385829  158334963              4    0.0
1385830   17825779              4    0.0
1385831   67108858              4    0.0
1385832   14680062              4    0.0

[1385833 rows x 3 columns]

In [ ]:
# https://stackoverflow.com/a/53235048/12495874

from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype

person_c = CategoricalDtype(sorted(pivot_df.requester.unique()), ordered=True)
thing_c = CategoricalDtype(sorted(pivot_df.service_title.unique()), ordered=True)

row = pivot_df.requester.astype(person_c).cat.codes
col = pivot_df.service_title.astype(thing_c).cat.codes

sparse_matrix = csr_matrix(
    (pivot_df['index'], (row, col)),
    shape=(person_c.categories.size, thing_c.categories.size)
)

In [ ]:
lfm_model = LightFM(
    no_components=64,
    loss='warp',
    learning_rate=0.05,
    random_state=1234)

lfm_model.fit(sparse_matrix, epochs=100, num_threads=2, verbose=True)

In [ ]:
clustered_item_emb = AgglomerativeClustering(
    n_clusters=None,
    linkage='average',
    distance_threshold=6
).fit_predict(lfm_model.item_embeddings)

len(np.unique(clustered_item_emb)), silhouette_score(lfm_model.item_embeddings, clustered_item_emb)

(93, 0.19057237)

In [ ]:
emb_item_cluster = pd.DataFrame(
    clustered_item_emb, 
    thing_c.categories, 
    ['emb_item_cluster']
)

In [ ]:
emb_item_cluster

      emb_item_cluster
0                    0
1                    0
2                    0
3                    0
4                   51
...                ...
1304                 1
1305                 0
1306                 0
1307                32
1308                45

[1281 rows x 1 columns]

In [ ]:
train_csv = train_csv.merge(
    emb_item_cluster.reset_index(),
    how='left',
    left_on='service_title',
    right_on='index'
).drop('index', axis=1)

In [ ]:
train_csv

                            order_date  ...  emb_item_cluster
0        2019-01-06 16:42:30.203000000  ...              90.0
1        2019-01-06 17:40:47.163000000  ...               0.0
2        2019-01-08 14:24:48.943000000  ...               0.0
3        2019-01-08 15:19:51.693000000  ...              90.0
4        2019-01-08 15:28:17.503000000  ...               0.0
...                                ...  ...               ...
2713717  2020-05-18 19:06:26.653000000  ...               6.0
2713718  2020-05-18 19:07:50.170000000  ...              87.0
2713719  2020-05-18 19:26:17.127000000  ...              87.0
2713720  2020-05-18 19:32:53.107000000  ...              90.0
2713721  2020-05-18 19:35:25.083000000  ...              90.0

[2713722 rows x 22 columns]

#### data cleaning

In [ ]:
issue_bad_ids = train_csv['issue_date'][train_csv['issue_date'].isin([
    '86538948'
])].index.tolist()

ct_bad_ids = train_csv['change_timestamp'][train_csv['change_timestamp'].isin([
    'MUNICIPAL', 
    '47208896', 
    'REGIONAL'
])].index.values.tolist()

on_bad_ids = train_csv['order_number'][train_csv['order_number'].isin([
    '6930981-46010-6930981'
])].index.values.tolist()

In [ ]:
bad_ids = list(set().union(issue_bad_ids+ct_bad_ids+on_bad_ids))
print(len(bad_ids))

train_csv = train_csv.drop(bad_ids).reset_index().drop('index', axis=1)

277

In [ ]:
print('!train')
for col in train_csv.columns:
    train_csv[col] = handle_type(train_csv[col])

!train
order_date
order_type
close_date
service_level
issue_date
change_timestamp

---

In [ ]:
n_visits = train_csv.groupby('requester')['service_title'].count().rename('n_visits')

In [ ]:
train_csv = train_csv.merge(n_visits, how='left', left_on='requester', right_on='requester')

#### json

In [ ]:
def token_and_stem(text):
    def handle_clown_string(string):
        return re.sub(r'[\W_]', ' ', string.strip()).strip()

    stemmer = nltk.stem.snowball.SnowballStemmer("russian")

    tokens = [word for sent in nltk.sent_tokenize(handle_clown_string(text)) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    for token in tokens:
        if re.search('[а-яА-Я]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems

In [ ]:
tfidf_vect = TfidfVectorizer(tokenizer=token_and_stem).fit_transform(id_to_desc[1].values)

In [ ]:
agg_clustesters = AgglomerativeClustering(n_clusters=320, affinity='euclidean').fit_predict(tfidf_vect.toarray())

In [ ]:
id_to_desc['text_cluster'] = agg_clustesters

In [ ]:
grouped_strings = id_to_desc.groupby('text_cluster')[1].apply(list)

for ind, group in enumerate(sorted(grouped_strings)):
    print('___', ind)
    for i in sorted(group):
        print(i)

In [ ]:
id_to_desc

                                                      1  text_cluster
0     _Присвоение (аннулирование) адреса объекту адр...           132
1     Принятие документов для принятия решения о под...           183
2     _Выдача разрешений на ввод объекта в эксплуата...            95
3     Выдача справок о том, является или не является...           311
4     _Предоставление сведений, содержащихся в Едино...            39
...                                                 ...           ...
1305  Прием расчета по начисленным и уплаченным стра...           246
1306  Услуга по предоставлению по заданным параметра...            68
1307  _Принятие решения о предоставлении ветеранам т...           182
1308  Прием заявления физического лица (его законног...           277
1309                                               none             2

[1310 rows x 2 columns]

In [ ]:
train_csv = train_csv.merge(id_to_desc['text_cluster'].reset_index(), how='left', left_on='service_title', right_on='index')

In [ ]:
train_csv.drop('index', axis=1, inplace=True)

In [ ]:
train_csv

                            order_date  requester  ...  n_visits  text_cluster
0        2019-01-06 16:42:30.203000000    7184765  ...       150           282
1        2019-01-06 17:40:47.163000000    4579720  ...         3           181
2        2019-01-08 14:24:48.943000000    7184765  ...       150           315
3        2019-01-08 15:19:51.693000000    7184765  ...       150           282
4        2019-01-08 15:28:17.503000000    4579720  ...         3           181
...                                ...        ...  ...       ...           ...
2713440  2020-05-18 19:06:26.653000000  177596976  ...         8           104
2713441  2020-05-18 19:07:50.170000000    3663125  ...         7           315
2713442  2020-05-18 19:26:17.127000000   86143570  ...         2           315
2713443  2020-05-18 19:32:53.107000000  138811055  ...         3           282
2713444  2020-05-18 19:35:25.083000000  138811055  ...         3            43

[2713445 rows x 24 columns]

#### datetime

In [ ]:
last_datetime = pd.to_datetime(train_csv['order_date'].max())

In [ ]:
def preprocess_datetime(column, last_time=last_datetime):
    dt_column = column.astype('datetime64')
    
    final_df = pd.concat([
        dt_column.dt.year.rename('year'),
        dt_column.dt.dayofyear.rename('day_of_year'),
        dt_column.dt.month.rename('month'),
        dt_column.dt.weekday.rename('weekday'),
        dt_column.dt.day.rename('day'),
        dt_column.dt.hour.rename('hour'),
        dt_column.dt.minute.rename('minute'),

        (last_time - dt_column).dt.total_seconds().rename('ms_since_last_time'),
    ], axis=1)
    final_df.columns = [f'{column.name}_{col}' for col in final_df.columns]

    return final_df

In [ ]:
prep_time_columns = ['order_date', 'issue_date', 'change_timestamp', 'close_date']

In [ ]:
prep_time_df = train_csv[prep_time_columns].apply(pd.to_datetime)
prep_time_df_shifted = train_csv.groupby('requester').shift()[prep_time_columns].apply(pd.to_datetime)

time_since_last_act = (prep_time_df - prep_time_df_shifted).apply(lambda x: x.dt.total_seconds())

time_since_last_act.columns = ['time_since_last_act_'+col for col in time_since_last_act.columns]

In [ ]:
train_csv_datetimes = pd.concat([
    time_since_last_act,
    *[preprocess_datetime(train_csv[col]) for col in prep_time_columns]
], axis=1)

In [ ]:
train_csv_datetimes['waiting_time_ord_cls'] = train_csv_datetimes['order_date_ms_since_last_time'] - train_csv_datetimes['close_date_ms_since_last_time']

In [ ]:
train_csv.order_date = train_csv.order_date.astype('datetime64[ns]')

train_od_by_req = train_csv.groupby('requester')['order_date']

visit_freq = (
    train_od_by_req.max() - 
    train_od_by_req.min()
 ) / n_visits

visit_freq = visit_freq.dt.total_seconds().rename('visit_freq')

In [ ]:
train_csv = train_csv.merge(visit_freq, how='left', left_on='requester', right_on='requester')

In [ ]:
train_csv.drop(prep_time_columns, axis=1, inplace=True)

In [ ]:
train_csv_datetimes

         time_since_last_act_order_date  ...  waiting_time_ord_cls
0                                   NaN  ...            -60150.203
1                                   NaN  ...            -63647.163
2                          1.645387e+05  ...            -51888.943
3                          3.302750e+03  ...            -55191.693
4                          1.648503e+05  ...            -55697.503
...                                 ...  ...                   ...
2713440                    3.538160e+03  ...                   NaN
2713441                    5.634070e+02  ...                   NaN
2713442                    3.086784e+04  ...                   NaN
2713443                    1.912412e+07  ...            -70373.107
2713444                    1.519760e+02  ...            -70525.083

[2713445 rows x 37 columns]

#### prev/next service_title

In [ ]:
next_shifted_st = train_csv.groupby(['requester'])[['service_title', 'text_cluster']].shift()
next_shifted_st.columns = ['previous_service_title', 'previous_text_cluster']

target = train_csv.groupby(['requester'])['service_title'].shift(-1).rename('target')

#### requester

In [ ]:
csv_tables['requester'] = pd.concat([
    csv_tables['requester'],
    preprocess_datetime(csv_tables['requester']['edit_timestamp'])
], axis=1)

csv_tables['requester'].drop('edit_timestamp', axis=1, inplace=True)
csv_tables['requester'].columns = ['requester_'+col for col in csv_tables['requester'].columns]

In [ ]:
csv_tables['requester']

         requester_requester_type  ...  requester_edit_timestamp_ms_since_last_time
0                               1  ...                                 8.934592e+07
1                               1  ...                                 7.505029e+07
2                               3  ...                                 1.574260e+08
3                               2  ...                                 1.421417e+08
4                               1  ...                                 1.609054e+08
...                           ...  ...                                          ...
1745869                         1  ...                                -8.779733e+04
1745870                         1  ...                                -8.709054e+04
1745871                         1  ...                                -8.768782e+04
1745872                         1  ...                                -8.788295e+04
1745873                         1  ...                                -8.757946e+04

[1745874 rows x 13 columns]

In [ ]:
train_csv = train_csv.merge(csv_tables['requester'], how='left', left_on='requester', right_on='requester_id')

In [ ]:
train_csv

         requester  ...  requester_edit_timestamp_ms_since_last_time
0          7184765  ...                                 1.149189e+07
1          4579720  ...                                 2.686959e+06
2          7184765  ...                                 1.149189e+07
3          7184765  ...                                 1.149189e+07
4          4579720  ...                                 2.686959e+06
...            ...  ...                                          ...
2713440  177596976  ...                                -6.309740e+04
2713441    3663125  ...                                 1.073953e+03
2713442   86143570  ...                                -5.356286e+04
2713443  138811055  ...                                 3.300000e-01
2713444  138811055  ...                                 3.300000e-01

[2713445 rows x 34 columns]

#### cpgu_department

In [ ]:
cpgu_dep_tfidf_vect = TfidfVectorizer(tokenizer=token_and_stem).fit_transform(csv_tables['cpgu_department'].title.values)

In [ ]:
cpgu_clusters = AgglomerativeClustering(n_clusters=20, affinity='euclidean', linkage='average').fit_predict(cpgu_dep_tfidf_vect.toarray())

In [ ]:
csv_tables['cpgu_department']['cluster'] = cpgu_clusters

In [ ]:
csv_tables['cpgu_department'].drop('title', axis=1, inplace=True)

csv_tables['cpgu_department'].columns = ['cpgu_department_'+col for col in csv_tables['cpgu_department'].columns]

In [ ]:
csv_tables['cpgu_department']

     cpgu_department_id  ...  cpgu_department_cluster
0                  1147  ...                        4
1                  1148  ...                        0
2                  1150  ...                        4
3                  1151  ...                        3
4                 27786  ...                        4
..                  ...  ...                      ...
192           191644781  ...                        6
193           191645089  ...                        6
194           208163832  ...                        6
195           287578549  ...                        2
196           307842508  ...                       19

[197 rows x 6 columns]

In [ ]:
train_csv = train_csv.merge(csv_tables['cpgu_department'], how='left', left_on='department_id', right_on='cpgu_department_id')

#### cpgu_mfc

In [ ]:
csv_tables['cpgu_mfc'].drop(['name', 'full_name', 'address'], axis=1, inplace=True)
csv_tables['cpgu_mfc'].columns = ['cpgu_mfc_' + col for col in csv_tables['cpgu_mfc'].columns]

In [ ]:
csv_tables['cpgu_mfc']

     cpgu_mfc_id  cpgu_mfc_code  ...  cpgu_mfc_calendar  cpgu_mfc_damask_office_id
0            159             69  ...           91802555                       39.0
1           1003             40  ...           91802555                        8.0
2         332483             24  ...           91793376                       40.0
3         371402             26  ...           91793376                       60.0
4         869529             64  ...           91793376                       57.0
..           ...            ...  ...                ...                        ...
215    180669941            443  ...          112362405                        NaN
216    223567332           6012  ...          112362405                        NaN
217    223783662            645  ...          112362405                        NaN
218    288545464             77  ...          112362405                       10.0
219    289899524            320  ...          112362405                        NaN

[220 rows x 12 columns]

In [ ]:
train_csv = train_csv.merge(csv_tables['cpgu_mfc'], how='left', left_on='mfc', right_on='cpgu_mfc_id')

In [ ]:
train_csv

         requester   service  ...  cpgu_mfc_calendar  cpgu_mfc_damask_office_id
0          7184765  46880280  ...           91802555                        NaN
1          4579720        43  ...           91802555                        NaN
2          7184765        43  ...           91802555                        NaN
3          7184765  46880280  ...           91802555                        NaN
4          4579720        43  ...           91802555                        NaN
...            ...       ...  ...                ...                        ...
2713440  177596976        43  ...           91802555                       24.0
2713441    3663125        43  ...           91802555                       22.0
2713442   86143570        43  ...           91793376                       54.0
2713443  138811055        43  ...           91793376                       41.0
2713444  138811055        43  ...           91793376                       41.0

[2713445 rows x 52 columns]

#### cpgu_user

In [ ]:
csv_tables['cpgu_user'].columns = ['cpgu_user_' + col for col in csv_tables['cpgu_user'].columns]

In [ ]:
csv_tables['cpgu_user']

      cpgu_user_id  cpgu_user_auto_ping_queue
0                1                          1
1                3                          0
2                5                          0
3                7                          0
4                9                          0
...            ...                        ...
1904     319944271                          1
1905     319945195                          1
1906     319946930                          1
1907     321054698                          1
1908     321063256                          1

[1909 rows x 2 columns]

In [ ]:
train_csv = train_csv.merge(csv_tables['cpgu_user'], how='left', left_on='cpgu_user', right_on='cpgu_user_id')

#### cpgu_service

In [ ]:
csv_tables['cpgu_service'].drop([
    'description', 
    'department', 
    'eid', 
    'lid', 
    'parent_service_eid', 
    'parent_service_lid', 
    'frgu_service_id'
], axis=1, inplace=True)

csv_tables['cpgu_service'].columns = ['cpgu_service_' + col for col in csv_tables['cpgu_service'].columns]

In [ ]:
csv_tables['cpgu_service']

     cpgu_service_id cpgu_service_level  ...  cpgu_service_sole  cpgu_service_legal
0                 43                NaN  ...                  0                   0
1                 44                NaN  ...                  1                   1
2                 45           REGIONAL  ...                  1                   1
3                 46                NaN  ...                  1                   1
4                 47                NaN  ...                  1                   1
..               ...                ...  ...                ...                 ...
157        113491294           REGIONAL  ...                  0                   0
158        121350183            FEDERAL  ...                  0                   0
159        136670703              OTHER  ...                  0                   0
160        158094295            FEDERAL  ...                  0                   0
161        177257764          MUNICIPAL  ...                  0                   0

[162 rows x 6 columns]

In [ ]:
train_csv = train_csv.merge(csv_tables['cpgu_service'], how='left', left_on='service', right_on='cpgu_service_id')

#### custom_service_info

In [ ]:
csv_tables['custom_service_info'].drop([
    'title',
    'eid',
    'lid',
    'parent_service_eid',
    'parent_service_lid',
    'frgu_service_id'
], axis=1, inplace=True)

csv_tables['custom_service_info'].columns = ['custom_service_info_' + col for col in csv_tables['custom_service_info'].columns]

In [ ]:
csv_tables['custom_service_info']

      custom_service_info_id  ...  custom_service_info_deleted
0                      27635  ...                            0
1                      27639  ...                            0
2                      27641  ...                            0
3                      27694  ...                            0
4                      27696  ...                            0
...                      ...  ...                          ...
1692               320178499  ...                            0
1693               320247491  ...                            0
1694               320248565  ...                            0
1695               320249704  ...                            0
1696               321181006  ...                            0

[1697 rows x 9 columns]

In [ ]:
train_csv = train_csv.merge(csv_tables['custom_service_info'], how='left', left_on='custom_service_id', right_on='custom_service_info_id')

In [ ]:
train_csv

         requester  ...  custom_service_info_deleted
0          7184765  ...                          NaN
1          4579720  ...                          0.0
2          7184765  ...                          0.0
3          7184765  ...                          NaN
4          4579720  ...                          0.0
...            ...  ...                          ...
2713440  177596976  ...                          0.0
2713441    3663125  ...                          0.0
2713442   86143570  ...                          0.0
2713443  138811055  ...                          0.0
2713444  138811055  ...                          0.0

[2713445 rows x 69 columns]

#### concat/merge

In [ ]:
whole_dataset = pd.concat([
    train_csv,
    train_csv_datetimes,
    next_shifted_st,
    target,
], axis=1)

In [ ]:
whole_dataset

         requester   service  ...  previous_text_cluster  target
0          7184765  46880280  ...                    NaN   134.0
1          4579720        43  ...                    NaN   815.0
2          7184765        43  ...                  282.0   491.0
3          7184765  46880280  ...                  315.0  1169.0
4          4579720        43  ...                  181.0    98.0
...            ...       ...  ...                    ...     ...
2713440  177596976        43  ...                   49.0     NaN
2713441    3663125        43  ...                  315.0     NaN
2713442   86143570        43  ...                  315.0     NaN
2713443  138811055        43  ...                  128.0   724.0
2713444  138811055        43  ...                  282.0     NaN

[2713445 rows x 109 columns]

Тут общая предобработка заканчивается и начинается подготовка трейна и теста

In [ ]:
train_dataset = whole_dataset.drop(whole_dataset[whole_dataset.target.isna()].index)

In [ ]:
last_index_for_each_req_train = train_dataset.reset_index().groupby('requester')['index'].max()
unique_train_dataset = whole_dataset.iloc[last_index_for_each_req_train.values].set_index('requester')

In [ ]:
unique_train_dataset['n_visits'] -= 1

In [ ]:
unique_train_dataset

           service  cpgu_user  ...  previous_text_cluster  target
requester                      ...
1651            43   19571394  ...                   74.0   452.0
5432            43   19913325  ...                   39.0   604.0
5439            43     219411  ...                    NaN   524.0
5471            43     159970  ...                  315.0    98.0
5477            43     159970  ...                    4.0   870.0
...            ...        ...  ...                    ...     ...
321087511       43    2350604  ...                  282.0   155.0
321088672       43    9701249  ...                    NaN  1089.0
321089302       43    1677258  ...                    NaN  1089.0
321089405       43  112424524  ...                    NaN   155.0
321090521       43  238456580  ...                    NaN  1089.0

[458020 rows x 108 columns]

---

In [ ]:
test_dataset_ids = whole_dataset.reset_index().groupby('requester')['index'].max().values

In [ ]:
presence_test_req = (
    set(whole_dataset.loc[test_dataset_ids, 'requester'].values)
    .intersection(test_ids.values)
)
absence_test_req = set(test_ids.values) - presence_test_req

len(presence_test_req), len(absence_test_req)

(44443, 1)

In [ ]:
test_dataset = whole_dataset.loc[test_dataset_ids].set_index('requester').loc[presence_test_req].reset_index()
test_dataset.drop(['target'], axis=1, inplace=True)

In [ ]:
test_dataset.set_index('requester', inplace=True)

In [ ]:
test_dataset

            service  cpgu_user  ...  previous_service_title  previous_text_cluster
requester                       ...
19529735         43  101142159  ...                     NaN                    NaN
10878986   65129676  213852346  ...                  1259.0                   36.0
260440076        43   16165165  ...                     NaN                    NaN
30408720         43     872171  ...                     NaN                    NaN
277741586        43   51040375  ...                     NaN                    NaN
...             ...        ...  ...                     ...                    ...
238682101        43  184420021  ...                     NaN                    NaN
315490293        43   16268782  ...                     NaN                    NaN
219152375   2266851   26749470  ...                   234.0                  128.0
79036406         43  112506624  ...                     NaN                    NaN
196739070        43   15913091  ...                     NaN                    NaN

[44443 rows x 107 columns]

---

In [ ]:
unique_train_dataset.to_csv(global_path+'unique_train_dataset_3767.csv', chunksize=10000)
test_dataset.to_csv(global_path+'test_dataset_3767.csv', chunksize=10000)

# Model & submit

---

In [ ]:
loaded_train_dataset = pd.read_csv(global_path+'unique_train_dataset_3767.csv')
loaded_test_dataset = pd.read_csv(global_path+'test_dataset_3767.csv')

In [ ]:
for feat in tqdm(categorical_features):
    loaded_train_dataset[feat] = loaded_train_dataset[feat].astype(str)
    loaded_test_dataset[feat] = loaded_test_dataset[feat].astype(str)

loaded_train_dataset[categorical_features] = loaded_train_dataset[categorical_features].fillna('nan_value')
loaded_test_dataset[categorical_features] = loaded_test_dataset[categorical_features].fillna('nan_value')

HBox(children=(FloatProgress(value=0.0, max=52.0), HTML(value='')))

In [ ]:
single_classes = loaded_train_dataset['target'].value_counts() < 50
single_classes = single_classes[single_classes].index.tolist()
len(single_classes), loaded_train_dataset['target'].isin(single_classes).sum()

(516, 4534)

In [ ]:
single_classes_ind = loaded_train_dataset[loaded_train_dataset['target'].isin(single_classes)].index
loaded_train_dataset.drop(single_classes_ind, inplace=True)

In [ ]:
loaded_train_dataset.target.value_counts()

134.0     43951
98.0      42883
603.0     28865
207.0     26143
1259.0    17650
          ...
493.0        53
828.0        53
437.0        52
410.0        52
180.0        51
Name: target, Length: 259, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    loaded_train_dataset.drop('target', axis=1), 
    loaded_train_dataset['target'], 
    test_size=0.1, 
    random_state=1234,
    stratify=loaded_train_dataset['target']
)

#### catboost

In [ ]:
catboost_params_l2 = {
    'task_type': 'GPU',
    'eval_metric': 'Accuracy',
    'random_state': 7492,
    'verbose': 1,
    'loss_function': 'MultiClass',
    'iterations': 5000,
    'border_count': 32,
    'cat_features': categorical_features,
    'max_ctr_complexity': 10,
    'depth': 8,
    'l2_leaf_reg': 5,

    'train_dir': global_path+'model_info/',
    'save_snapshot': True,
    'snapshot_file': global_path+'catboost_snapshots/catboost_model_108feats.snap',
    'snapshot_interval': 600,
}

In [ ]:
model_l2 = CatBoostClassifier(**catboost_params_l2)

In [ ]:
model_l2.fit(
    X_train, 
    y_train, 
    eval_set=(X_test, y_test)
)

In [ ]:
pd.Series(model_l2.feature_importances_, model_l2.feature_names_).sort_values(ascending=False)

requester_edit_timestamp_ms_since_last_time    10.215790
service_title                                   5.859498
visit_freq                                      4.963288
requester_birth_year                            3.856041
cpgu_mfc_deperatment_id                         3.509926
                                                 ...
cpgu_department_calendar                        0.000000
deleted                                         0.000000
deleter_fk                                      0.000000
cpgu_service_legal                              0.000000
requester_deleted                               0.000000
Length: 108, dtype: float64

In [ ]:
pred_probas = model_l2.predict_proba(loaded_test_dataset)

In [ ]:
pred_probas.shape

(44443, 259)

## Prediction

In [ ]:
preds = []

for i, proba in enumerate(tqdm(pred_probas)):
    if loaded_test_dataset.iloc[i].n_visits == 1:
        preds.append(1309)
    else:
        preds.append(model_l2.classes_[proba.argmax()])

preds = np.array(preds)

HBox(children=(FloatProgress(value=0.0, max=44443.0), HTML(value='')))

In [ ]:
pd.Series(preds.flatten()).value_counts().iloc[:15]

1309.0    30746
134.0      1899
98.0       1830
603.0       643
155.0       630
907.0       582
207.0       574
1205.0      525
604.0       515
901.0       488
1020.0      394
4.0         361
1259.0      340
1169.0      242
966.0       215
dtype: int64

---

In [ ]:
preds_df = pd.DataFrame(
    data=preds.flatten(), 
    index=loaded_test_dataset['requester'],
    columns=['service_title'],
    dtype=int
)

In [ ]:
sample_subm = pd.read_csv(irkutsk_ds_path+'sample_submission.csv')
sample_subm

       requester  service_title
0       83029018              1
1      123998836              1
2      184301121              1
3       54344611              1
4      184299902              1
...          ...            ...
44439   27213855              1
44440   64899947              1
44441   23695212              1
44442   72707269              1
44443   38205629              1

[44444 rows x 2 columns]

In [ ]:
set(sample_subm.requester) - set(loaded_test_dataset.requester.astype(int))

{67480424}

In [ ]:
preds_df.loc[67480424, 'service_title'] = 1309
preds_df

           service_title
requester
19529735          1309.0
10878986          1309.0
260440076         1309.0
30408720          1309.0
277741586         1309.0
...                  ...
315490293         1309.0
219152375          907.0
79036406          1309.0
196739070         1309.0
67480424          1309.0

[44444 rows x 1 columns]

In [ ]:
preds_df.reset_index(inplace=True)
preds_df.requester = preds_df.requester.astype(int)
preds_df.set_index('requester', inplace=True)

preds_df.service_title = preds_df.service_title.astype(int)

In [ ]:
preds_df.loc[sample_subm['requester']].reset_index().to_csv(global_path+'subm.csv')

In [ ]:
preds_df.loc[sample_subm['requester']].reset_index()

       requester  service_title
0       83029018            966
1      123998836             26
2      184301121            134
3       54344611           1259
4      184299902           1309
...          ...            ...
44439   27213855           1309
44440   64899947           1309
44441   23695212           1309
44442   72707269           1309
44443   38205629           1309

[44444 rows x 2 columns]